/* Website typography */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}
/* Website typography */

/* Nav dropdown media query */
@media screen and (max-width: 576px) {
    .navbar-space {
        margin-top: 70px !important;
    }
}

@media screen and (max-width: 360px) {
    .navbar-space {
        margin-top: 112px !important;
    }
}

@media screen and (max-width: 192px) {
    .navbar-space {
        margin-top: 142px !important;
    }
}
/* Nav dropdown media query */

.mt-56px {
    margin-top: 56px !important;
}

.pt-112px {
    padding-top: 112px !important;
}

.navbar-space {
    margin-top: 40px !important;
}

.z-1 {
    z-index: 100 !important;
    background: white;
}

/* Nav link color customization */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white !important;
    background-color: black !important;
}

.nav-pills li a.nav-link:hover {
    color: white !important;
    background-color: #696969 !important;
}

.nav-pills li a.nav-link {
    color: black !important;
}

.nav-pills .nav-link.active, .dropdown-item.active, .dropdown-item:active {
    color: white !important;
    background-color: #696969 !important;
}
/* Nav link color customization */

/* Image size of product group, category, item */
.img-mythumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

.h-240 {
    height: 240px !important;
}
/* Image size of product group, category, item */
.input-disabled {
    pointer-events: none;
    background-color: rgb(220,220,220);
}

.text-black {
    color: black;
}

.price-font {
    font-size: 1.25rem;
}

.link-normal a, .link-normal a:hover, .link-normal a:active, .link-normal a:visited, .link-normal a:focus {
    color: black !important;
    text-decoration: none !important;
}

/*Pagination link*/
.pagination > li > a {
    background-color: white;
    color: #5A4181;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a {
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

    .pagination > .active > a:hover {
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181;
    }
/*Pagination link*/
